@navWidth: 250px;
@colorSubtitle: #07a;
@colorRed: rgb(238, 125, 125);
@colorLink: #2a6496;

@colorBlackDark  : #383838;
@colorBlackLight : #3b3b3b;
@colorBlackDarker: #333333;

@colorGrayDark: #f5f5f5;

@colorBlueDark: #03a9f4;

.font-description () {
    font-family: 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
}