@import "common.less";

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
}

.navigation {
    position: fixed;
    float: left;
    width: @navWidth;
    height: 100%;
    background: #fff;

    .applicationName {
        margin: 15px 0 0 0;
        padding: 10px 15px;
        font: bold 1.25em Helvetica;
        text-align: center;

        a {
            color: @colorBlackDark;
        }
    }

    .search {
        padding: 10px 15px;

        input {
            background-color: #fff;
            color: #000;
            border-color: #07a;
            border-radius: 0;
            box-shadow: none;
        }
    }

    .list {
        padding: 10px 15px 0 15px;
        position: relative;
        overflow: auto;
        width: 100%;
        background-color: @colorBlackDark;
    }

    li.item {
        border-top: 1px solid @colorBlackDarker;
        padding: 8px;

        &:hover {
            background: @colorBlackLight;
        }

        a {
            color: #fff;
        }
        .title {
            cursor: pointer;
            position: relative;
            a {
                color: #fff;
            }
            display: block;
            font-size: 0.8em;

            .static {
                display: block;
                background-color: @colorBlueDark;
                color: #fff;
                font-size: 0.7em;
                padding: 2px 4px;
                float: right;
            }
        }

        .subtitle {
            margin-top: 10px;
            font: bold 0.65em Helvetica;
            color: @colorSubtitle;
            background: #fff;
            display: block;
            padding: 2px 4px;
        }

        ul {
            & > li {
                font-size: 0.7em;
                padding-left: 8px;
                margin-top: 2px;
            }
        }

        .itemMembers {
            display: none;
        }
    }
}